# VITE_API_BASE_URL=https://your-backend-domain.com
# VITE_FIREBASE_API_KEY=AIzaSyAA4eu4ndyFnBypdXPQ2oiyVTIjiHQTEyc
# VITE_FIREBASE_AUTH_DOMAIN=official-tiendat.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=official-tiendat
# VITE_FIREBASE_STORAGE_BUCKET=official-tiendat.firebasestorage.app
# VITE_FIREBASE_MESSAGING_SENDER_ID=429219555473
# VITE_FIREBASE_APP_ID=1:429219555473:web:4aaad786c5ea2e33a5b730
# VITE_ADMIN_EMAILS=admin@example.com
